body {
    background-color: #004;
    margin: 0;
}

#container {
    background-color: #000;
    width: 80%;
    margin: 0 auto;
}

.containers {
    display: flex;
}

.rows {
    flex: 1;
    height: 50px;
    background-color: #f00;
    border: 1px solid black;
}

.rowsHover {
    background-color: #0f0;
}

.clear {
    font-size: 35px;
    padding: 10px;
    background-color: #00f;
    color: #fff;
    box-shadow: 0 0 5px 5px #00f;
    margin: 10px auto 0 45%;
    border-radius: 30px;
}

.clear:hover {
    background-color: #004;
}
